@charset "UTF-8";

/*!
========== INIT
*/
// css reset (normalize) and third party scss required for the project
@import 'vendor/_normalize';


/*!
========== BASE
*/
// variables, fonts, mixins, helpers... common styles used across the entire site
@import 'base/__base';


/*!
========== COMPONENTS
*/
// reusable abstract components
@import 'components/__components';


/*!
========== SPECIFICS
*/
// more specific declarations, built on a per page/module basis
@import 'specifics/__specifics';
