// _____ STRUCTURE _____ //

// define the component structure
@mixin tabs($selector, $defaultSkin: true) {

  #{$selector} {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  #{$selector}_item {
    @include remIt(font-size, 18);
    display: inline-block;
    vertical-align: bottom;
    line-height: 2.5;
  }

  #{$selector}_link {
    padding: 0 10px;
  }

  @if $defaultSkin != false {
    @include tabs-skin-default($selector);
  }

}

// _____ SKIN _____ //

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin tabs-skin-default($selector) {

  #{$selector} {
    list-style: none;
  }

  #{$selector}_item {
    border-bottom: 1px solid $color-main-lighter;

    &._is_current {
      border-bottom: 3px solid $color-main-light;
    }
  }

  #{$selector}_item--highlighted {
    background: $color-alt-light;
  }

  #{$selector}_link {
    @include basicClickable(true);
    border-left: 1px solid $color-main;
    color: $color-default-dark;
    font-family: 'titillium', Arial, 'sans-serif';

    #{$selector}_item:first-child & {
      border-left: 0;
    }

    #{$selector}_item._is_current & {
      color: $color-main-light;
    }

    &:hover {
      background: $color-alt;
    }
  }
}
