
@import 'sass/base/utils/__utils';

// _____ STRUCTURE _____ //

// define component placeholders for component contents (no selector here)
@include define('tabs') {
  %tabs {
    list-style: none;
    padding: 10px 0 0;
    margin: 0;
    font-size: 0;
  }

  %tabs_item{
    font-size: 16px;
    padding: 15px;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 10px;
    margin-left: 5px;
  }

  %tabs_item_current {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

}


// map the placeholders content to some selectors through a mixin
@mixin tabs($selector, $defaultSkin: true) {

  #{$selector} {
    @extend %tabs;
  }

  #{$selector}_item {

    @extend %tabs_item;

    &._is_current {
      @extend %tabs_item_current;
    }
  }

  @if $defaultSkin != false {
    @include tabs-skin-default($selector);
  }

}

// _____ SKIN _____ //
@import 'sass/base/project/_variables';
@import 'sass/base/project/_helpers';


// define component placeholders for component skin (no selector here)
@include define('tabs-skin-default') {

  %tabs-skin-default {
    background: $color-beige;
  }

  %tabs-skin-default-item {
    background: $color-purple-light;
    border-left: solid 1px #fff;
    @include border-radius('3px 3px 0 0 ');
    @include box-shadow('3px 0 3px rgba(0, 0, 0, 0.2)');
  }

  %tabs-skin-default-item_first {
    border-left: inherit;
  }

  %tabs-skin-default-item_hover {
    background: $color-purple;
  }

  %tabs-skin-default-item_link {
    text-decoration: none;
    color: #fff;
  }

  %tabs-skin-default-item_hover_link {
    color: #fff;
  }

  %tabs-skin-default-item_current {
    background: $color-purple-dark;
    border-left: solid 1px $color-beige;
    @include box-shadow('3px 0 3px rgba(0, 0, 0, 0.5)');
    position: relative;
    z-index: 10;
  }

  %tabs-skin-default-item_current_link {
    color: #fff;
  }

}

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin tabs-skin-default($selector) {

  #{$selector} {
    @extend %tabs-skin-default;
  }

  #{$selector}_item {

    @extend %tabs-skin-default-item;
    &:first-child {
      @extend %tabs-skin-default-item_first;
    }

    &:hover {
      @extend %tabs-skin-default-item_hover;

      #{$selector}_link {
        @extend %tabs-skin-default-item_hover_link;
      }
    }

    &._is_current {
      @extend %tabs-skin-default-item_current;
    }
  }

  #{$selector}_link {
    @extend %tabs-skin-default-item_link;
  }

}
