// _____ STRUCTURE _____ //

// map the placeholders content to some selectors through a mixin
@mixin tabs($selector, $defaultSkin: true) {

  #{$selector} {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  #{$selector}_item {
    @include remIt(font-size, 18);
    display: inline-block;
    padding: 10px 0;
    vertical-align: bottom;
  }

  #{$selector}_link {
    padding: 0 10px;
  }

  @if $defaultSkin != false {
    @include tabs-skin-default($selector);
  }

}

// _____ SKIN _____ //

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin tabs-skin-default($selector) {

  #{$selector}_item {

    border-bottom: solid 3px transparent;

    &._is_current {
      border-bottom: solid 3px $color-main;
    }

    &:hover {
      border-bottom: solid 3px $color-main-light;
    }

  }

  #{$selector}_link {

    border-left: solid 1px $color-main;
    text-decoration: none;
    color: $color-main;

    #{$selector}_item:first-child & {
      border-left: inherit;
    }

    &:hover {
      color: $color-main-light;
    }

    #{$selector}_item#{'--highlighted'} & {
      color: red;
    }

    #{$selector}_item._is_current & {
      color: $color-main-light;
    }
  }

}
