<ul class="dynamicTabs">
    <li class="dynamicTabs_item">
        <a class="dynamicTabs_link" href="#tabContent1">tabContent1</a>
    </li>
    <li class="dynamicTabs_item">
        <a class="dynamicTabs_link" href="#tabContent2">tabContent2</a>
    </li>
    <li class="dynamicTabs_item">
        <a class="dynamicTabs_link" href="#tabContent3">tabContent3</a>
    </li>
    <li class="dynamicTabs_item">
        <a class="dynamicTabs_link" href="#tabContent4">tabContent4</a>
    </li>
    <li class="dynamicTabs_item">
        <a class="dynamicTabs_link" href="#tabContent5">tabContent5</a>
    </li>
    <li class="dynamicTabs_item">
        <a class="dynamicTabs_link" href="#tabContent6">tabContent6</a>
    </li>
</ul>
