
@import 'sass/base/utils/__utils';
@import 'sass/base/project/__project';


/*
usage examples:
@include example();
@include example('.example2');
@include example('.example3', 'maClasseHover');
@include example('.example4', $param2: 'tutu', $hover: 'monHover');

@include example('.example5', $defaultSkin: false);
@include example-skin-alt('.example5');
*/


/* **** EXAMPLE COMPONENT **** */

// define component placeholders for component contents (no selector here)
@include define('example') {
  @include _add(example) {
    padding: 10px;
  }

  @include _add(exampleInner) {
    padding: 20px;
  }
  @include _add(exampleAltState) {
    padding: 30px;
  }
}


// map the placeholders content to some selectors through a mixin
@mixin example($selector: '.example', $hover: ':hover', $param2: '', $defaultSkin: true) {

  #{$selector} {
    @include _use(example);
  }

  #{$selector}_inner {
    @include _use(exampleInner);
  }

  @if $hover == ':hover' {
    #{$selector}:hover {
      @include _use(exampleAltState);
    }
  } @else {
    #{$selector}_#{$hover} {
      @include _use(exampleAltState);
    }
  }

  @if $defaultSkin != false {
    @include example-skin-default($selector, $hover, $param2);
  }

}

@mixin example2($hover: ':hover', $param2: '', $defaultSkin: true) {

  & {
    @include _use(example);
  }

  &_inner {
    @include _use(exampleInner);
  }

  @if $hover == ':hover' {
    &:hover {
      @include _use(exampleAltState);
    }
  } @else {
    &_#{$hover} {
      @include _use(exampleAltState);
    }
  }

  @if $defaultSkin != false {
    @include example-skin-default2($hover, $param2);
  }

}





/* **** EXAMPLE COMPONENT SKIN **** */

// define component placeholders for component skin (no selector here)
@include define('example_skin') {
  @include _add(example-skin-default) {
    background: #eee;
    color: blue;
  }

  @include _add(exampleInner-skin-default) {
    color: red;
  }
  @include _add(exampleAltState-skin-default) {
    border: solid 1px red;
  }
}

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin example-skin-default($selector: '.example', $hover: ':hover', $param2: '') {

    #{$selector} {
      @include _use(example-skin-default);
    }
    #{$selector}_inner {
      @include _use(exampleInner-skin-default);
    }

    @if $hover == ':hover' {
      #{$selector}:hover {
        @include _use(exampleAltState-skin-default);
      }
    } @else {
      #{$selector}_#{$hover} {
        @include _use(exampleAltState-skin-default);
      }
    }

}

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin example-skin-default2($hover: ':hover', $param2: '') {

  & {
    @include _use(example-skin-default);
  }
  &_inner {
    @include _use(exampleInner-skin-default);
  }

  @if $hover == ':hover' {
    &:hover {
      @include _use(exampleAltState-skin-default);
    }
  } @else {
    &_#{$hover} {
      @include _use(exampleAltState-skin-default);
    }
  }

}
