/*
usage examples:
@include example('.example');

@include example('.example2', $defaultSkin: false);
@include example-skin-alt('.example2');
*/

/* **** EXAMPLE COMPONENT **** */

// map the placeholders content to some selectors through a mixin
@mixin example($selector, $defaultSkin: true) {

  #{$selector} {
    padding: 10px;
  }

  #{$selector}_inner {
    padding: 20px;
  }

  #{$selector}:hover {
    padding: 30px;
  }

  @if $defaultSkin != false {
    @include example-skin-default($selector);
  }

}

/* **** EXAMPLE COMPONENT SKIN **** */

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin example-skin-default($selector) {

  #{$selector} {
    background: #eee;
    color: blue;
  }

  #{$selector}_inner {
    color: red;
  }

  #{$selector}:hover {
    border: solid 1px red;
  }

}

