@include importOnce('project-globals') {

  /* _____ GLOBAL DEFAULTS _____ */

  *,
  :before,
  :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    width: 100%;
    height: 100%;
    font-size: 100%;
  }

  body {
    @include remIt(font-size, 16);
    @include radial-gradient($color-main-light, $color-main);
    background: #fff;
    width: 100%;
    min-height: 100%;
    line-height: 1.4;
    color: #000;
    font-family: Arial, "sans-serif";
  }

  ul {
    list-style: square;
  }

  pre {
    background: #fff;
    padding: 10px;
  }

  p {
    margin: 0 0 20px;
  }

  pre {
    // monospace defaults to Courrier New on windows, which seems to badly alter the = sign, so we'll avoid it
    font-family: consolas, monospace;
  }

  /* _____ LAYOUT _____ */

  .mainContainer {
    @include clearfix;
    margin: 0 auto;
    width: 100%;
    max-width: #{$containerWidth}px;
  }

}
