
@include define('project-globals') {

  /* _____ GLOBAL DEFAULTS _____ */

  *,
  :before,
  :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
    width: 100%;
    height: 100%;
  }

  body {
    @include remIt(font-size, 16);
    line-height: 1.4;
    background: #fff;
    font-family: "titillium", Arial, "sans-serif";
    width: 100%;
    color: #000;
    min-height: 100%;
    @include radial-gradient($color-green-light, $color-green);
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  a,
  a:visited {
  }

  ul {
    list-style: square;
  }

  pre {
    background: #fff;
    padding: 10px;
  }

  p {
    margin: 30px 0;
  }

  /* _____ LAYOUT _____ */

  .mainContainer {
    @include _use(clearfix);
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
  }

}
