
@include importOnce('project-helpers') {

  /* _____ PROJECT HELPERS _____ */

  @include _add(basicClickable) {
    color: $color-main;
    text-decoration: none;

    &:hover {
      color: $color-main-light;
      text-decoration: underline;
    }
  }

}
