/* _____ VARIABLES _____ */

// Generic
// ==========================================================================

$default-borderRadius: 4;
$containerWidth: 760;
$left-nav-width: 200;

$nav-variant: 'base';


// Colors
// ==========================================================================

$color-default-light:       #fff;
$color-default-dark:        #333;
$color-default-darker:      #000;

$color-main:                #449888;
$color-main-light:          #5cbcaa;
$color-main-lighter:        #a8d5cd;

$color-secondary:           #ee746f;

$color-alt:                 #f1ede4;
$color-alt-dark:            #c2c0bc;
$color-alt-light:           #f8f5ec;

$color-alt2:                #637c84;