
/* _____ VARIABLES _____ */

// Generic
// ==========================================================================

$default-borderRadius: 4px;

$containerWidth: 960px;
$headerHeight: 170px;

$variant: 'base';


// Colors
// ==========================================================================

$color-grey-light: #f1f1f1;
$color-beige: #cdc3aa;
$color-purple-dark: #412a3e;
$color-purple: #a73951;
$color-purple-light: #d75b62;

$color-default-black: #000;
$color-default-white: #fff;
