
/* _____ VARIABLES _____ */

// Generic
// ==========================================================================

$default-borderRadius: 4px;

$containerWidth: 760px;

$variant: 'base';


// Colors
// ==========================================================================

$color-default-black: #000;
$color-default-white: #fff;

$color-green: #449888;
$color-green-light: #5cbcaa;
$color-green-lighter: #a8d5cd;
$color-pink: #ee746f;
$color-grey-dark: #333;
$color-beige-dark: #c2c0bc;
$color-beige: #f1ede4;
$color-beige-light: #f8f5ec;

$color-code: #637c84;

