
/* _____ SPECIFICS _____ */

// import contextual entities
@import 'buttons';
@import 'footer';
@import 'main';
@import 'nav';
@import 'responsiveNav';
@import 'sample';


// miscellaneous rules
.navLink {
  @include basicClickable;
}
.externalLink{
  @include basicClickable;
}

.firstOrderList_item {
  list-style-type: square;
  color: $color-secondary;
}
.firstOrderList_item_content {
  color: $color-default-darker;
}

.secondaryList_item {
  list-style-type: square;
  color: $color-secondary;
}
.secondaryList_item_content {
  color: $color-default-darker;
}

.articleSeparator {
  @include hidden;
}

.note {
  padding: 15px;
  border: solid 1px transparentize($color-main-lighter, 0.7);;
  background: transparentize($color-main-lighter, 0.8);
}

.exampleNote {
  padding: 15px;
  border: dotted 1px $color-secondary;
  margin-bottom: 15px;
}

.sampleTitle {
  background: $color-alt;
  display: inline-block;
  padding: 5px 20px;
}
.codeSample {
  background: $color-alt-light;
  border: solid 1px $color-alt;
  margin-top: 0;
  padding: 20px;
  color: $color-alt2;
  @include remIt('font-size', 14);
  line-height: 1.3;
}


// various example component implementations
@include example();
@include example('.example2');
@include example('.example3', 'myHoverClass');
@include example('.example4', $param2: 'someParam', $hover: 'myHover');
@include example('.example5', $defaultSkin: false);
@include example-skin-alt('.example5');

.example6 {
  @include example2();
}
