
/* _____ SPECIFICS _____ */

// import contextual entities
@import '_main';


// miscellaneous rules
.navLink {
  @include _use(basicClickable);
}

.firstOrderList_item {
  list-style-type: square;
  color: $color-pink;
}
.firstOrderList_item_content {
  color: $color-default-black;
}

.secondaryList_item {
  list-style-type: square;
  color: $color-pink;
}
.secondaryList_item_content {
  color: $color-default-black;
}

.articleSeparator {
  @include _use(hidden);
}

.note {
  padding: 15px;
  border: dotted 1px $color-pink;
}

.exampleNote {
  padding: 15px;
  border: dotted 1px $color-pink;
}

.sampleTitle {
  background: $color-beige;
  display: inline-block;
  padding: 5px 20px;
}
.codeSample {
  background: $color-beige-light;
  border: solid 1px $color-beige;
  margin-top: 0;
  padding: 20px;
}


// various example component implementations
@include example();
@include example('.example2');
@include example('.example3', 'maClasseHover');
@include example('.example4', $param2: 'tutu', $hover: 'monHover');
@include example('.example5', $defaultSkin: false);
@include example-skin-alt('.example5');

.example6 {
  @include example2();
}






.abc {
  @include _use(clearfix);
}

.bcd {
  @include _use(clearfix);
}


.cde {
  @include breakpoint(medium) {
    @include _use(clearfix);
  }
}

@include breakpoint(medium) {
  .def {
    @include _use(clearfix);
  }
}

.efg {
  @include _use(clearfix);

  @include breakpoint(large) {
    @include _use(clearfix);
  }
}

