.navOpener {
  @include box-shadow(none);
  @include transition('left .2s linear');
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 998;
  border: 1px solid $color-default-light;
  background: $color-main;
  padding: 0;
  width: 30px;
  height: 30px;
  color: $color-default-light;

  ._nav_is_open & {
    left: #{$left-nav-width + 46}px;
  }

  &:before {
    display: block;
    width: 28px;
    height: 30px;
    text-align: center;
    line-height: 1.8;
    content: '☰';

    ._nav_is_open & {
      content: '☓';
    }
  }
}

.goTop {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 0;
  border: 20px solid transparent;
  border-bottom-color: $color-default-light;
  background: transparent;
  padding: 0;
  width: 0;
  height: 0;
  text-align: center;
  font-size: 0;
  @include box-shadow(none);
}
