
.goTop {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 0;

  border: 20px solid transparent;
  border-bottom-color: $color-default-light;

  background: transparent;
  padding: 0;
  width: 0;
  height: 0;
  text-align: center;
  font-size: 0;
}
