.mainFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  background: $color-main;
    z-index: 10;
}
.mainFooterLink {
  color: $color-default-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.mainFooterIconLink {
  display: block;
  width: 22px;
  height: 22px;
  float: right;
  margin: 2px 5px;
}


.repoWrapper {
    width: 360px;
    @extend %clearfix;
    list-style: none;
    margin: 10px auto;
} 

.repoWrapper_item {
    float: left;
}

.repoWrapper_element {
    margin-bottom: -6px;
}

.repoWrapper_link {
  @extend .mainFooterIconLink;
  background: url('../assets/img/github.png') center no-repeat;
  font-size: 0;
}

@include breakpoint(medium) {
    .repoWrapper {
        position: absolute;
        right: 10px;
        top: 3px;
        margin: 0;
        width: auto;
    }   
}