.mainFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  background: $color-main;
    z-index: 10;
}
.mainFooterLink {
  color: $color-text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.mainFooterIconLink {
  display: block;
  width: 22px;
  height: 22px;
  float: right;
  margin: 2px 5px;
}
.mainFooterIconLink--github {
  @extend .mainFooterIconLink;
  background: url('../assets/img/github.png') center no-repeat;
  font-size: 0;
}