.mainFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: $color-main;
  padding: 5px;
  text-align: center;
}

.mainFooter_link {
  text-decoration: none;
  color: $color-default-dark;

  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}

.mainFooter_iconLink {
  display: block;
  float: right;
  margin: 2px 5px;
  width: 22px;
  height: 22px;
}

.repoWrapper {
  @include clearfix;
  margin: 10px auto;
  width: 362px;
  list-style: none;
}

.repoWrapper_item {
  float: left;
}

.repoWrapper_element {
  margin-bottom: -6px;
}

.repoWrapper_link {
  display: block;
  float: right;
  margin: 2px 5px;
  background: url('../assets/img/github.png') center no-repeat;
  width: 22px;
  height: 22px;
  font-size: 0;
}

@media (min-width: 600px) {
  .repoWrapper {
    position: absolute;
    top: 3px;
    right: 10px;
    margin: 0;
    width: auto;
  }
}
