
.mainHeader {
  position: fixed;
  top: 50%;
  left: 50%;
  @include transform('translate(-50%, -50%)');
  text-align: center;
  color: $color-nav-bg;
  z-index: 10;
}

.mainTitle {
  font-family: 'robotoSlab', georgia, serif;
  font-weight: normal;
  margin: 0 0 10px;
  @include remIt('font-size', 70);
  @include remIt('line-height', 75);
  @include text-shadow(1px 1px 3px rgba(0, 0, 0, .3));
}
.mainSubtitle {
  margin: 0;
  font-weight: normal;
  @include text-shadow(1px 1px 3px rgba(0, 0, 0, .3));
}


.mainContent{
  margin: 65px 0 50px;
}

// only hide mainSections by default if js is present to reveal them
.js .mainSection {
  display: none;
}
.js .mainSection._is_current {
  display: block;
}

.mainSection {
  //padding: 10px 40px;
}

.mainSection_body {
  padding: 10px 40px;
  background: $color-site-title;
}

.mainSection_header {
  padding: 10px 40px;
  background: $color-main-lighter;
}

// decide the kind of style we want from a config variable
@if $nav-variant == 'base' {
    
    .navOpener {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 0;
        width: 30px;
        height: 30px;
        color: $color-opener;
        background: $color-main;
        border: 1px solid $color-opener;
        z-index: 998;
        @include box-shadow(none);
        @include transition('left .2s linear');
        
        ._nav_is_open & {
            left: #{$left-nav-width + 46}px;;
        }
        
        &:before {
            content: '☰';
            width: 28px;
            height: 30px;
            line-height: 1.8;
            display: block;
            text-align: center;
            
            ._nav_is_open & {
                content: '☓';
            }
        }
    }
    
    .mainNav {
        position: absolute;
        width: #{$left-nav-width}px;
        top: 0;
        bottom: 0;
        left: #{-1 * $left-nav-width}px;
        background: $color-nav-bg;
        @include transition('left .2s linear');
        @include box-shadow(0 3px 3px 3px rgba(0,0,0,.3));
        z-index: 999;
        
        ._nav_is_open & {
            left: 0;
        }
    }

    .mainMenu {
        list-style: none;
        padding: 0;
    }

    .mainMenu_item {
        padding: 20px;
        border-bottom: 1px solid $color-main-lighter;
    }

    .mainMenu_link {
        color: $color-text;
        @extend %basicClickable;
        
        ._is_current & {
            color: $color-main-light;
        }
    }

} @else {

  @include verticalMenu('.mainMenu');

  .mainNav {
    position: fixed;
    width: $left-nav-width;
    top: 0;
    bottom: 0;
    left: 0;
    background: $color-nav-left-bg;
  }

  body{
    padding-left: 200px;
  }

}

.mainSection_title {
  font-weight: normal;
  color: $color-main;
  @include remIt('font-size', 26);
  @include remIt('line-height', 30);
}
.mainSection_subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
}

.mainSection_smallTitle {
  margin-top: 80px;
}


.mainFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  background: $color-main;
}
.mainFooterLink {
  color: $color-text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.mainFooterIconLink {
  display: block;
  width: 22px;
  height: 22px;
  float: right;
  margin: 2px 5px;
}
.mainFooterIconLink--github {
  @extend .mainFooterIconLink;
  background: url('../assets/img/github.png') center no-repeat;
  font-size: 0;
}