$nav-breakpoint: 900;
$left-nav-width: 200;

// bind the responsive tabs mixin to the .mainMenu class
@include responsiveTabs('.mainMenu', $breakpoint: 900);

// handle menu position and visibility
@media (max-width: #{($nav-breakpoint - 1)}px) {
  .mainNav {
    @include transition('left .2s linear');
    @include box-shadow(0 3px 3px 3px rgba(0, 0, 0, .3));
    position: fixed;
    top: 0;
    bottom: 0;
    left: -#{$left-nav-width}px;
    z-index: 999;
    background: $color-default-light;
    width: #{$left-nav-width}px;

    &._is_open {
      left: 0;
    }
  }

  .mainNav_opener {
    display: block;
    position: absolute;
    top: 20px;
    left: #{$left-nav-width + 20}px;
    z-index: 998;
    border: 1px solid $color-default-light;
    background: $color-main;
    padding: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    text-indent: -999px;
    color: $color-default-light;

    &:before {
      display: block;
      width: 28px;
      height: 30px;
      text-align: center;
      text-indent: 0;
      line-height: 1.8;
      content: '\2630';
    }

    .mainNav._is_open &:before {
      content: '\2613';
    }
  }
}

@media (min-width: #{$nav-breakpoint}px) {

  .mainNav {
    @include box-shadow('0 3px 5px rgba(0,0,0,.3)');
    @include box-opacity(.95);
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    background: $color-default-light;
    text-align: right;
  }

  .mainNav_opener {
    display: none;
  }

}


