// decide the kind of style we want from a config variable
@if $nav-variant == 'base' {

  .mainNav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: #{-1 * $left-nav-width}px;
    z-index: 999;
    background: $color-default-light;
    width: #{$left-nav-width}px;
    @include transition('left .2s linear');
    @include box-shadow(0 3px 3px 3px rgba(0, 0, 0, .3));

    ._nav_is_open & {
      left: 0;
    }
  }

  .mainMenu {
    padding: 0;
    list-style: none;
  }

  .mainMenu_item {
    border-bottom: 1px solid $color-main-lighter;
    padding: 20px;
  }

  .mainMenu_item--highlighted {
    background: $color-alt-light;
  }

  .mainMenu_link {
    color: $color-default-dark;
    @include basicClickable;

    ._is_current & {
      color: $color-main-light;
    }
  }

} @else {

  @include verticalMenu('.mainMenu');

  .mainNav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: $color-default-light;
    width: $left-nav-width;
  }

  body {
    padding-left: 200px;
  }

}
