@media (min-width: 900px) {

  .mainMenu {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .mainMenu_item {
    display: inline-block;
    border: 0;
    padding: 10px 0;
    vertical-align: bottom;
    line-height: 2.5;
    @include remIt(font-size, 18);

    &._is_current {
      border-bottom: 3px solid $color-main-light;
    }
  }

  .mainMenu_item:first-child .mainMenu_link {
    border-left: 0;
  }

  .mainMenu_link {
    border-left: 1px solid $color-main;
    padding: 0 10px;
    text-decoration: none;
    color: $color-default-dark;
  }

  .navOpener {
    display: none;
  }

  .mainNav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    background: $color-default-light;
    width: auto;
    text-align: right;
    @include box-shadow('0 3px 5px rgba(0,0,0,.3)');
    @include box-opacity(.95);
  }
}

