
@include importOnce('universal-helpers') {


  /* _____ UNIVERSAL HELPERS _____ */

  // From H5BP
  // ==========================================================================

  // Image replacement
  @include _add(ir) {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    // IE 6/7 fallback
    *text-indent: -9999px;
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 100%;
    }
  }

  // Hide from both screenreaders and browsers: h5bp.com/u

  @include _add(hidden) {
    display: none !important;
    visibility: hidden;
  }

  // Hide only visually, but have it available for screenreaders: h5bp.com/v

  @include _add(visuallyhidden) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    //
    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: h5bp.com/p
    //
    &.focusable:active,
    &.focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }

  // Hide visually and from screenreaders, but maintain layout
  @include _add(invisible) {
    visibility: hidden;
  }

  // Contain floats: h5bp.com/q
  @include _add(clearfix) {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    *zoom: 1;
  }

  // from Ekino  ***** */

  @include _add(inlineBlock) {
    display: inline-block;
    .lt-ie8 & {
      display: inline;
    }
  }

  @include _add(verticalAlign) {
    &:before {
      @include _use(inlineBlock);
      vertical-align: middle;
      content: "";
      height: 100%;
      width: 0;
      margin: 0;
    }
    @include _use(inlineBlock);
    vertical-align: middle;
  }

  @include _add(verticalAlign2) {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }

  @include _add(nonSelectable) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


}
