
// _____ STRUCTURE _____ //


// map the placeholders content to some selectors through a mixin
@mixin verticalMenu($selector, $defaultSkin: true) {

  #{$selector} {
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }

  #{$selector}_item {

    display: block;
    padding: 15px;
  }

  @if $defaultSkin != false {
    @include verticalMenu-skin-default($selector);
  }

}

// _____ SKIN _____ //

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin verticalMenu-skin-default($selector) {

  #{$selector} {
    background: $color-alt;
  }

  #{$selector}_item {

    background: $color-main-light;
    border-top: solid 1px #fff;

    &:first-child {
      border-top: inherit;
    }

    &:hover {
      background: $color-main;

      #{$selector}_link {
        color: #fff;
      }
    }

    &._is_current {
      background: $color-main;
      border-top: solid 1px $color-alt;
    }
  }

  #{$selector}_link {
    text-decoration: none;
    color: #fff;
  }

}
