
@import 'sass/base/utils/__utils';
@import 'sass/base/project/__project';

// _____ STRUCTURE _____ //

// define component placeholders for component contents (no selector here)
@include define('verticalMenu') {
  @include _add(verticalMenu) {
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }

  @include _add(verticalMenu_item) {
    display: block;
    padding: 15px;
  }

}


// map the placeholders content to some selectors through a mixin
@mixin verticalMenu($selector, $defaultSkin: true) {

  #{$selector} {
    @include _use(verticalMenu);
  }

  #{$selector}_item {

    @include _use(verticalMenu_item);
  }

  @if $defaultSkin != false {
    @include verticalMenu-skin-default($selector);
  }

}

// _____ SKIN _____ //

// define component placeholders for component skin (no selector here)
@include define('verticalMenu-skin-default') {

  @include _add(verticalMenu-skin-default) {
    background: $color-beige;
  }

  @include _add(verticalMenu-skin-default-item) {
    background: $color-green-light;
    border-top: solid 1px #fff;
  }

  @include _add(verticalMenu-skin-default-item_first) {
    border-top: inherit;
  }

  @include _add(verticalMenu-skin-default-item_hover) {
    background: $color-green;
  }

  @include _add(verticalMenu-skin-default-item_link) {
    text-decoration: none;
    color: #fff;
  }

  @include _add(verticalMenu-skin-default-item_hover_link) {
    color: #fff;
  }

  @include _add(verticalMenu-skin-default-item_current) {
    background: $color-green;
    border-top: solid 1px $color-beige;
  }

  @include _add(verticalMenu-skin-default-item_current_link) {
    color: #fff;
  }

}

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin verticalMenu-skin-default($selector) {

  #{$selector} {
    @include _use(verticalMenu-skin-default);
  }

  #{$selector}_item {

    @include _use(verticalMenu-skin-default-item);
    &:first-child {
      @include _use(verticalMenu-skin-default-item_first);
    }

    &:hover {
      @include _use(verticalMenu-skin-default-item_hover);

      #{$selector}_link {
        @include _use(verticalMenu-skin-default-item_hover_link);
      }
    }

    &._is_current {
      @include _use(verticalMenu-skin-default-item_current);
    }
  }

  #{$selector}_link {
    @include _use(verticalMenu-skin-default-item_link);
  }

}
